* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f9;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

header {
  text-align: center;
  background: #4CAF50;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

section {
  background: white;
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px #aaa;
}

h2 {
  color: #4CAF50;
  margin-bottom: 10px;
}
ul,ol{
  margin-left: 40px;
  
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #555;
}